<div class="aboutCls">
    <div class="profileCls" style="padding-top: 2em;">
        <div class="col-sm-8 d-flex d-justify-center mt-10">
            <div class="col-sm-3"><img src="../../assets/Pradeep.JPG" alt="" class="imgCls"></div>
            <div class="col-sm-9 profiledetailsCls">
                <h2>Pradeep kumar</h2>
                <p>Innovative Front end developer</p>
            </div>
        </div>
    </div>
    <div class="col-sm-8 profiledetailsCls" style="padding-top: 3em;">
        <p>Innovative front end web developer with 5+ years of experience developing and maintaining responsive websites and mobile applications. I am well versed with web technologies such as HTML5, CSS3, Bootstrap and am proficient with Javascript & it’s related frameworks such as AngularJS, Angular 7/8 and Sencha Ext JS. I have a total of 10 years of IT experience, wherein the initial 5 years I have worked on Mainframe technologies. I am self-motivated, problem solver, good mentor and open to learning.</p>
    </div>
</div>
