<div class="aboutCls">
    <div class="profileCls row" style="padding-top: 2em;">
        <div class="col-sm-8 row d-flex d-justify-center mt-10">
            <div class="col-lg-3"><img src="../../assets/Pradeep.JPG" alt="" class="imgCls"></div>
            <div class="col-lg-9 profiledetailsCls">
                <h2>Pradeep kumar</h2>
                <p><i>Front end developer with skills on HTML5, CSS3, Bootstrap4, Javascript, AngularJS, Angular7, Sencha ExtJS, Node JS</i></p>
            </div>
        </div>
    </div>
    <div class="col-sm-8 profiledetailsCls" style="padding-top: 3em;">
        <p>Innovative front end web developer with 5+ years of experience developing and maintaining responsive websites and mobile applications. I am well versed with web technologies such as HTML5, CSS3, Bootstrap and am proficient with Javascript & it’s related frameworks such as AngularJS, Angular 7/8 and Sencha Ext JS. I have a total of 10 years of IT experience, wherein the initial 5 years I have worked on Mainframe technologies. I am self-motivated, problem solver, good mentor and open to learning.</p>
    </div>
    <div class="col-sm-8 profiledetailsCls" style="padding-top: 2em;">
        <h4 style="text-align: center;">Core Skills</h4>
        <ul style="margin: auto;">
            <li><i>Frontend technologies:</i>&nbsp; HTML5, CSS3, Bootstrap4, Responsive Web design, JSON, AJAX</li>
            <li><i>Scripting languages:</i>&nbsp; Javascript, ES6, Typescript, jQuery, NodeJS, RxJS</li>
            <li><i>UI Frameworks:</i>&nbsp; AngularJS 1.5, Angular 7/8, Sencha ExtJS 6.5.3</li>
            <li><i>Unit test frameworks:</i>&nbsp; Jasmine, Karma</li>
            <li><i>Databases:</i>&nbsp; DB2, SQL</li>
            <li><i>IDEs used:</i>&nbsp; Intellij, IBM Worklight 6,7, VSCode</li>
            <li><i>Tools:</i>&nbsp; Github, JIRA, Jenkins (CI/CD), Grunt, AppDynamics, Google Analytics</li>
            <li><i>Soft skills:</i>&nbsp; Excellent communication skills, Good team player, Team leader, Agile Scrum Master</li>
        </ul>
    </div>
</div>
