<p>Below given are my Projects:</p>
<mat-expansion-panel hideToggle:false *ngFor="let project of Projects | async">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div style="display: grid;grid-template-columns: 20rem 20rem;">
                <p>Role: <b>{{project.role}}</b></p>
                <p>Organization: {{project.company}}</p>
            </div>
        </mat-panel-title>
        <mat-panel-description>
            {{project.from | date: 'mediumDate'}} - 
            <span appDateCheck [toDate]="project.to">{{project.to | date: 'mediumDate'}}</span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Project Description: Morgan Stanley is an American multinational investment bank and financial services company. As part of a Firm Risk Management team we have developed and maintained web applications which allows the user to make an assessment to a certain control group, determine risks and add suitable controls for them.</p>
</mat-expansion-panel>