<p>Below given are my Projects:</p>
<mat-expansion-panel hideToggle:false class="expansionPanel" *ngFor="let project of Projects | async;let i=index;" (opened)="openRoles(project.id)">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div style="display: grid;grid-template-columns: 20rem 20rem;">
                <p>Role: <b>{{project.role}}</b></p>
                <p>Organization: {{project.company}}</p>
            </div>
        </mat-panel-title>
        <mat-panel-description>
            {{project.from | date: 'mediumDate'}} - 
            <span appDateCheck [toDate]="project.to">{{project.to | date: 'mediumDate'}}</span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p *ngFor="let role of roles">{{role}}</p>
</mat-expansion-panel>