<div style="width: 100%; background-color: #fff; display: flex; flex-direction:column; height: 100%;">
    <div class="search-bar">
        <input type="search" class="col-md-6 col-sm-12" placeholder="Search" [(ngModel)]="searchSkill" #search>
        <select name="skillType" id="skillType" class="col-md-3 col-sm-12" #skillType (change)="skillChange($event.target.value)">
            <option *ngFor="let skillType of skillTypes">{{skillType}}</option>
        </select>
        <button mat-raised-button (click)="clearFilters()" [disabled]="clearAllFiltersCheck()">Clear all Filters</button>
    </div>
    <div class="skill-grid">
        <div class="skillCls" *ngFor="let skill of list | skillSearch:search.value" [ngClass]="skill.type">
            <!-- <div *appStructSkills="search.value; skillName: skill.name"> -->
                <p appSearchSkillName [(search)]="search.value">{{skill.name}}</p>
                <div *ngIf="true" style="width: 70%;">
                    <p>Skill Level</p>
                    <p style="height: 5px; background-color: #fff;border-radius: 5px;position: relative;">
                        <span class="skillProgress" appSkillEval [skillLevel]="skill.expertiseLevel"></span>
                    </p>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>