<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand">Lakshmi Pradeep kumar Thotakura</a>
    <button class="navbar-toggler" data-toggle="collapse" type="button" data-target="#collapsibleNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNav">
      <ul class="nav navbar-nav">
        <li class="navbar-item">
          <a class="nav-link" [routerLink]="['/about']">About Me</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" routerLink="">Hobbies</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" [routerLink]="['/projects']">Projects</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <router-outlet></router-outlet>
</div>